.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 300%;
    margin-top: 200px;
  }
  
  .example-full-width {
    width: 100%;
  }
  h3 {
    color:#283593;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    }
  